
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Other files
AutomationTask/.github/workflows/
AutomationTask/package-lock.json
AutomationTask/package.json
AutomationTask/playwright.config.js
AutomationTask/tests/example.spec.js
AutomationTask/txt_file.txt
AutomationTask/.gitignore

